* {
  margin: 0px;
  padding: 0px;
}
body{
  min-width: 800px;
}

//homepege
.homepage{
  height: 100%;
  a{
    text-decoration: none;
  }
  md-card-title-text{
    font-family: 'Courgette', cursive;
  }
  md-card-content{
    font-family: 'Courgette', cursive;
  }
  .md-button{
    font-family: 'Fanwood Text', Serif;
  }
  md-card{
    width: 45%;
    height: auto;
    margin: 0 auto;
  }
}

//task homepage
.todo-list{
  .item-title{
    font-family: 'Trocchi', serif;
    color: black;
  }
  .item-title + div{
    font-family: 'Mate', serif;
  }
  .home-title{
    font-size: 24px;
    color: black;
    font-family: 'Courgette', cursive;
    &:hover{
      color: lightslategrey;
      cursor: pointer;
    }
  }
  .button-groups{
    span{
      margin-left: 7px;
    }
  }
  .customized-card{
    md-card{
      padding: 15px;
      border: 1px solid lightgray;
      box-shadow: 3px 3px 4px lightgrey;
      margin: 0px 0px 10px 0px;
      width: 400px;
      height: auto;
      md-card-title{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
      }
      .task-created-at{
        margin-bottom: 10px;
        font-size: 14px;
      }
      .task-updated-at{
        margin-bottom: 10px;
        font-size: 14px;
      }
      .task-created-by{
        margin-bottom: 10px;
        font-size: 14px;
      }
      .task-description{
        margin-bottom: 10px;
        font-size: 14px;
      }
      .task-status{
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
    .active{
      //background: lightcyan;
    }
    .inactive{
      //background: lightgreen;
    }
  }
  .form{
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 4px lightgrey;
    margin-left: 20px;
    .form-title{
      font-size: 15px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }
  .fadein-form{
    opacity: 1;
    animation-name: fadeInForm;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
  }
  md-card-content{
    border-top: 1px solid lightgray;
    padding-top: 15px;
  }
  md-card-title{
    padding-bottom: 10px;
  }
  md-card{
    opacity: 1;
    animation-name: fadeInForm;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
  }
  @keyframes fadeInForm {
    0% {
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
}

