extends layout

block body
  div(ng-controller='AppCtrl' ng-cloak)
    md-content.homepage(layout="column" layout-align="center" ng-if="!hideWelcomeBox")
      md-card
        img.md-card-image(src="/images/homepage_card.jpeg")
        md-card-title
         md-card-title-text
          span.md-headline Welcome to Steven's Todo-List
        md-card-content
          p A well-functional TODO list, which provides a powerful and highly performance daily task management and tracking system. Powered By: Angularjs 1.x + Express 4.x + Nodejs 7.x + Mongodb.
        md-card-actions(layout="row" layout-align="end center")
          md-button(ng-click="gotoTasks()") Go To Todo-List
          md-button
            a(href="http://stevenziu.github.io" target="_blank") Go To Steven's Personal Page
    div(ng-view)

  //vendors
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular-route/angular-route.js')
  script(src='js/lib/angular-material/angular-material.js')
  script(src='js/lib/angular-animate/angular-animate.js')
  script(src='js/lib/angular-aria/angular-aria.js')
  script(src='js/lib/angular-messages/angular-messages.js')
  script(src='js/lib/lodash/lodash.js')
  script(src='js/lib/moment/moment.js')
  script(src='js/lib/moment-timezone/moment-timezone.js')
  script(src='js/lib/jquery/dist/jquery.js')

  //App files
  script(src='js/app.js')
  script(src='js/http-services.js')
  script(src='js/notification-service.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
