html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title TodoToday
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/build/home.css')
    link(rel='stylesheet', href='/js/lib/angular-material/angular-material.min.css')
  body
    block body