md-content.todo-list(ng-if="home.auth")
  section(layout="column" layout-align="center center" layout-margin)
    div(layout="row" layout-align="center center")
      div.home-title(ng-click="home.gotoWelcome()") Hi! Today
    div.button-groups(layout="row" layout-align="center center")
      md-button(ng-click="home.getAllTasks()" ng-class="{'md-raised md-primary': home.all}")
        i.fa.fa-tasks
        span All Tasks
      md-button(ng-click="home.getAllTasks('true')" ng-class="{'md-raised md-primary': home.completed}")
        i.fa.fa-check-square-o
        span Completed Tasks
      md-button(ng-click="home.getAllTasks('false')" ng-class="{'md-raised md-primary': home.pending}")
        i.fa.fa-coffee
        span Pending Tasks
      md-button.md-primary(ng-click="home.showCreateForm()")
        i.fa.fa-plus
        span New Task
    div(ng-if="home.serviceIsBusy")
      md-progress-circular.md-accent(md-diameter="40")
    div(layout="row" layout-align="space-around start")
      div.customized-card(ng-if="home.taskLists.data.length" layout="column" layout-align="center center")
        div(ng-repeat="(key, value) in home.taskLists.data track by $index")
          md-card(ng-class="{'active': !value.status, 'inactive': value.status}")
            md-card-title
              md-card-title-text(layout="row" layout-align='space-between center')
                md-checkbox(ng-checked="home.taskStatus[value['_id']]" ng-click="home.completeTask(value['_id'])")
                  div.task-name {{value.name}}
            md-card-content
              div.task-status(ng-if="value.status" layout="row")
                div.item-title(flex="30") Status:
                div(flex ) Completed
              div.task-status(ng-if="!value.status" layout="row")
                div.item-title(flex="30") Status:
                div(flex) Pending
              div.task-description(ng-if="value.description" layout="row")
                div.item-title(flex="30") Description:
                div(flex) {{value.description}}
              div.task-created-by(ng-if="value.createdBy" layout="row")
                div.item-title(flex="30") Created By:
                div(flex) {{value.createdBy}}
              div.task-created-at(layout="row")
                div.item-title(flex="30") Created At:
                div(flex) {{value.created_at | transferTimeFormat}}
              div.task-updated-at(layout="row")
                div.item-title(flex="30") Updated At:
                div(flex) {{value.updated_at | transferTimeFormat}}
            md-card-actions(layout="row" layout-align="end center")
              md-button.md-raised.md-primary(ng-click="home.deleteTasks(value['_id'])") Delete
              md-button.md-raised.md-warn(ng-click="home.showUpdateForm(value['_id'])") Update
      div.customized-card(ng-if="!home.taskLists.data.length && !home.serviceIsBusy" layout="row")
        md-card
          md-card-content(layout="column" layout-align="center center")
            div no related task
      div.form(ng-if="home.showForm" class="fadein-form")
        div.form-title(ng-if="home.isUpdating") Update Task
        div.form-title(ng-if="!home.isUpdating") Create Task
        form(name="taskForm" ng-submit="home.isUpdating ? home.updateTask(taskForm.$valid) : home.createNewTask(taskForm.$valid)" layout-margin layout-padding)
          md-input-container.md-block
            label Task Name
            input(md-maxlength="20" required name="taskName" ng-model="home.newTask.name")
            div(ng-messages="taskForm.taskName.$error")
              div(ng-message="required") This is required
              div(ng-message="md-maxlength") The name exceed 20 characters
          md-input-container.md-block
            label Description
            input(md-maxlength="100" name="description" ng-model="home.newTask.description")
            div(ng-messages="taskForm.description.$error")
              div(ng-message="md-maxlength") The name exceed 100 characters
          md-input-container.md-block
            label Created By
            input(md-maxlength="15" name="createdBy" ng-model="home.newTask.createdBy" required)
            div(ng-messages="taskForm.createdBy.$error")
              div(ng-message="required") This is required
              div(ng-message="md-maxlength") The name exceed 15 characters
          div
            md-button(type="submit" ng-if="!home.isUpdating") Submit
            md-button(type="submit" ng-if="home.isUpdating") Update
            md-button(ng-click="home.cleanForm()") Cancel

md-content.todo-list(ng-if="!home.auth")
  section(layout="column" layout-align="center center" layout-margin)
    div 
      span Please 
      span 
        a(href='/#!/auth') Verify
      span First!