md-content.homepage(layout="column" layout-align="center")
  md-card.animated.fadeInUp
    img.md-card-image(src="/images/homepage_card.jpeg")
    md-card-title
      md-card-title-text
        span.md-headline Welcome to Steven's Todo-List
    md-card-content
      p A well-functional TODO list, which provides a powerful and highly performance daily task management and tracking system. Powered By: Angularjs 1.x + Express 4.x + Nodejs 7.x + Mongodb.
    md-card-actions(layout="row" layout-align="end center")
      md-button(ng-click="wel.gotoAuth()") Go To Todo-List
      md-button
        a(href="http://stevenziu.github.io" target="_blank") Go To Steven's Personal Page